# 4.1 if 문

In [ ]:

x = int(input("Please enter an integer: "))
if x<0 :
  x=0
  print('Negative changed to zero')
elif x == 0:
  print('Zero')
elif x ==1:
  print('Single')
else:
  print('More')

Please enter an integer: 3
More

# 4.2 for 문

In [ ]:

words = ['cat', 'window', 'defenestrate']
for w in words:
  print(w,len(w))

cat 3
window 6
defenestrate 12

In [ ]:
# 컬렉션을 이터레이트 하는 동안 같은 컬렉션을 수정하는 코드는 올바르게 동작하도록 만들기 힘듭니다. 대신, 보통 컬렉션의 복사본으로 루프를 만들거나 새 컬렉션을 만드는 것이 더 간단합니다
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

# Strategy:  Iterate over a copy 복사본으로 루프를 만듦
for user, status in users.copy().items():
  if status == 'inactive':
    del users[user]

users

{'Hans': 'active', '景太郎': 'active'}

In [ ]:
# Strategy:  Create a new collection 새 컬렉션을 만듦
active_users = {}
for user, status in users.items():
  if status == 'active':
    active_users[user] = status
active_users

{'Hans': 'active', '景太郎': 'active'}

# 4.3 range() 함수

In [ ]:
for i in range(5): # 수열을 만들어줌, 끝값은 포함x
  print(i)

0
1
2
3
4

In [ ]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(0,10,3))

[0, 3, 6, 9]

In [ ]:
list(range(-10,-100,-30)) # 음수도 가능

[-10, -40, -70]

In [ ]:
a = ['Mary', 'had', 'a', 'little', 'lamb'] # 시퀀스의 인덱스들로 이터레이트 하려면, 다음처럼 range()와 len() 을 결합할 수 있음 그러나
for i in range(len(a)):
  print(i,a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [ ]:
# enumerate() 함수를 쓰는 것이 편리하다.
for i in list(enumerate(a)) :
  print(i)

(0, 'Mary')
(1, 'had')
(2, 'a')
(3, 'little')
(4, 'lamb')

In [ ]:
range(10) # 리스트가 아님. 실제로 리스트를 만들지x 공간절약-> 이터러블

range(0, 10)

In [ ]:
sum(range(4))

6

# 4.4 루프의 break, continue and else

In [ ]:
# 소수 찾기
for n in range(2,10): # 2~9
  for x in range(2, n): 
    if n % x ==0:
      print(n, 'equals', x, '*', n//x)
      break
  else:
      print(n, 'is a prime number')

# 루프와 함께 사용될 때, else 절은 if 문보다는 try 문의 else 절과 비슷한 면이 많습니다: try 문의 else 절은 예외가 발생하지 않을 때 실행되고,
# ★루프의 else 절은 break가 발생하지 않을 때 실행

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
# continue : 루프의 다음(next) 반복에서 계속하도록 만듭니다.
for num in range(2, 10):
  if num % 2 == 0:
    print("Found an even number", num)
    continue
  print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

# 4.5 pass 문

In [ ]:
# pass 문은 아무것도 하지 않음. 문법적으로 문장이 필요하지만, 프로그램이 특별히 할 일이 없을 때 사용
while True:
  pass

KeyboardInterrupt: ignored

In [ ]:
# 최소한의 클래스를 만들때
class MyEmptyClass:
  pass

In [ ]:
def initlog(*args):
  pass # Remember to implement this! 이 자리 채워야할때 비워두는용도

# 4.6 match statements

In [ ]:
# python 3.10부터 사용가능

In [ ]:
# def http_error(status):
#     match status:
#         case 400:
#             return "Bad request"
#         case 404:
#             return "Not found"
#         case 418:
#             return "I'm a teapot"
#         case 401 | 403 | 404:
#             return "Not allowed"
#         case _:
#             return "Something's wrong with the internet"

In [ ]:
# point is an (x, y) tuple
# 튜플은 소괄호로 나타낸다. 요소의 값이 중복되어도 괜찮으며 리스트와 달리 변경이 불가능하다.
point = (1,3)
match point:
    case (0, 0):
        print("Origin")
    case (0, y):
        print(f"Y={y}") # f-string, 문자열 안에 표현식, 변수를 사용할 수 있음
    case (x, 0):
        print(f"X={x}")
    case (x, y):
        print(f"X={x}, Y={y}")
    case _:
        raise ValueError("Not a point")

# 실행 결과:  = X=1, Y=3

In [ ]:
import sys
print(sys.version)

3.7.12 (default, Jan 15 2022, 18:48:18)
[GCC 7.5.0]

In [ ]:
class Point:
    x: int
    y: int

def where_is(point):
    match point:
        case Point(x=0, y=0):
            print("Origin")
        case Point(x=0, y=y):
            print(f"Y={y}")
        case Point(x=x, y=0):
            print(f"X={x}")
        case Point():
            print("Somewhere else")
        case _:
            print("Not a point")

point = Point() # 인스턴스 생성
point.x = 0
point.y = 3
# # 실행결과: Y=3
point.x = 0
point.y = 3
# # 실행결과: Origin

where_is(point)

In [ ]:
match points:
    case []:
        print("No points")
    case [Point(0, 0)]:
        print("The origin")
    case [Point(x, y)]:
        print(f"Single point {x}, {y}")
    case [Point(0, y1), Point(0, y2)]:
        print(f"Two on the Y axis at {y1}, {y2}")
    case _:
        print("Something else")

In [ ]:
match point:
    case Point(x, y) if x == y:
        print(f"Y=X at {x}")
    case Point(x, y):
        print(f"Not on the diagonal")

In [ ]:
case (Point(x1, y1), Point(x2, y2) as p2)

In [ ]:
from enum import Enum
class Color(Enum):
    RED = 'red'
    GREEN = 'green'
    BLUE = 'blue'

color = Color(input("Enter your choice of 'red', 'blue' or 'green': "))

match color:
    case Color.RED:
        print("I see red!")
    case Color.GREEN:
        print("Grass is green")
    case Color.BLUE:
        print("I'm feeling the blues :(")

# 4.7 함수 정의하기

In [ ]:
# 피보나치 수열을 임의의 한도까지 출력하는 함수

In [ ]:
def fib(n): # n까지의 피보나치 수열
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
      print(a, end=' ')
      a, b = b, a+b
    #print() ?? 얘는 뭐야

fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [ ]:
fib

In [ ]:
f = fib # 같은 함수 객체를 가리키며 액세스 가능함.
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
fib(0) # return문이 없는 함수도 값을 돌려주며 None이 유일한 값이라면 보통 출력하지않는다.

In [ ]:
print(fib(0)) # 꼭 출력하고 싶다면 print()사용

None

In [ ]:
# 피보나치 수열 print 대신 return 하는 함수
def fib2(n):
  """Return a list containing the Fibonacci series up to n."""
  result=[]
  a, b = 0, 1
  while a < n:
    result.append(a)
    a, b = b, a+b
  return result

  f100 = fib2(100)
  f100

# 4.8 함수 정의 더 보기

In [ ]:
# 기본값을 미리 설정할 수 있다.
def ask_ok(prompt, retries=4, reminder='Please try again!'): 
    while True:
        ok = input(prompt) # input('값을 입력하세요: ') 라고하면 메세지 출력되고 값 입력 칸이 나옴
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

#ask_ok('정말 끝내길 원하세요?')
#ask_ok('파일을 덮어써도 좋습니까?', 2)
ask_ok('파일을 덮어써도 좋습니까?', 2, '자, 예나 아니요로만 답하세요!')

파일을 덮어써도 좋습니까?y

True

In [ ]:
# 기본값은 함수 정의 시점에 정의되고 있는 스코프에서 구해짐
i = 5

def f(arg=i):
    print(arg)

i = 6
f()
print(i)

5
6

In [ ]:
# 기본값은 오직 한 번만 값이 구해짐
# 기본값이 리스트나 딕셔너리나 대부분 클래스의 인스턴스와 같은 가변 객체일 때
# 다음 함수는 계속되는 호출로 전달된 인자들을 누적함
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [ ]:
# 연속된 호출 간에 기본값이 공유되지 않기를 원한다면
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

# 각각의 리스트에 나중에 액세스하려면 리스트 만들어서 넣어놓기
# list1=f(1)
# list1.append(2)
# print(list1)

print(f(1))
print(f(2))
print(f(3))

[1, 2]
[2]
[3]

## 4.8.2 키워드 인자

In [ ]:
# 함수는 kwarg=value 형식의 키워드 인자 를 사용해서 호출가능
# 필수인자 하나인경우 무조건 맨앞에 와야하는듯
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [ ]:
# 다음중 아무방법으로 호출가능
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [ ]:
parrot()                     # required argument missing
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument
parrot(110, voltage=220)     # duplicate value for the same argument
parrot(actor='John Cleese')  # unknown keyword argument

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [1]:
def function(a):
  pass
  
# function(0, a=0) # TypeError: function() got multiple values for argument 'a'

TypeError: ignored

In [ ]:
# 딕셔너리
# *변수명: 튜플?, **변수명: 딕셔너리
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg) 
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [ ]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

## 4.8.3 특수 매개 변수

In [ ]:

# 매개 변수의 이름을 사용자가 사용할 수 없도록 하려면 위치 전용을 사용
# 사용자가 전달되는 인자의 위치에 의존하지 못하도록 하려면 키워드 전용을 사용
def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):

In [ ]:
# 위치 전용 매개 변수는 / (슬래시) 앞에 놓임.
# /는 위치 전용 매개 변수를 나머지 매개 변수들로부터 논리적으로 분리하는 데 사용
# 함수 정의에 /가 없으면, 위치 전용 매개 변수는 없음
def standard_arg(arg):
  print(arg)

def pos_only_arg(arg, /):
  print(arg)

def kwd_only_arg(*, arg):
  print(arg)

def combined_example(pos_only, /, standard, *, kwd_only):
  print(pos_only, standard, kwd_only)

In [ ]:
standard_arg(2) # 호출 규칙에 아무런 제한을 두지 않으며 인자는 위치나 키워드로 전달
standard_arg(arg=2)
pos_only_arg(arg=1) # 함수 정의에 /가 있으므로 위치 매개 변수만 사용하도록 제한
kwd_only_arg(arg=3) # 함수 정의에서 *로 표시된 키워드 인자만 허용

combined_example(1, 2, kwd_only=3)
combined_example(1, standard=2, kwd_only=3)
# combined_example(pos_only=1, standard=2, kwd_only=3) # error
# combined_example(1, 2, 3) # error

In [ ]:
def foo(name, **kwds):
    return 'name' in kwds
# foo(1, **{'name': 2}) # error, 'name' 키워드는 항상 첫 번째 매개 변수에 결합하므로 True를 반환할 수 있는 호출은 불가능

In [ ]:
def foo(name, /, **kwds):
    return 'name' in kwds

foo(1, **{'name': 2})

## 4.8.4 임의의 인자 목록

In [ ]:
# 함수가 임의의 개수 인자로 호출될 수 있도록 지정하는 것
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [ ]:
def concat(*args, sep="/"):
  return sep.join(args)

concat("earth","mars","venus")

'earth/mars/venus'

In [ ]:
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

## 4.8.5 인자 목록 언 패킹

In [3]:
# 인자들이 이미 리스트나 튜플에 있지만, 분리된 위치 인자들을 요구하는 함수 호출을 위해 언 패킹 해야 하는 경우
# 리스트와 튜플로부터 인자를 언 패킹하기 위해 *-연산자를 사용해서 함수를 호출
list(range(3, 6))
args = [3, 6]
list(range(*args))

[3, 4, 5]

In [4]:
# 딕셔너리도 **-연산자를 써서 키워드 인자를 전달
def parrot(voltage, state='a stiff', action='voom'):
  print("-- This parrot wouldn't", action, end=' ')
  print("if you put", voltage, "volts through it.", end=' ')
  print("E's", state, "!")
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

## 4.8.6 람다 표현식

In [10]:
# 이름 없는 함수, 함수 객체가 있어야 하는 곳이면 어디나 람다 함수가 사용될 수 있음

# 함수를 돌려주기 위해 람다 표현식을 사용
def make_incrementor(n):
  return lambda x: x + n

f = make_incrementor(42)
f # <function __main__.make_incrementor.<locals>.<lambda>>

In [11]:
f(0) # 42
f(1) # 43

43

In [15]:
# 작은 함수를 인자로 전달
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1]) # 딕셔너리 값을 key로 정렬
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

## 4.8.7 도큐멘테이션 문자열

In [ ]:
# 첫 줄은 항상 객체의 목적을 짧고, 간결하게 요약
# 대문자로 시작하고 마침표로 끝나야함.
# 두 번째 줄은 비어있어서, 시각적으로 요약과 나머지 설명을 분리
# 객체의 호출 규약, 부작용 등을 설명

In [16]:
def my_function():
  """Do nothing, but document it.

  No, really, it doesn't do anything.
  """
  pass
print(my_function.__doc__)

Do nothing, but document it.

  No, really, it doesn't do anything.

## 4.8.8 함수 어노테이션

In [ ]:
# 사용자 정의 함수가 사용하는 형들에 대한 완전히 선택적인 메타데이터 정보
# 함수의 __annotations__ 어트리뷰트에 딕셔너리로 저장되고 함수의 다른 부분에는 아무런 영향을 미치지 않습니다.

In [17]:
def f(ham: str, eggs: str = 'eggs') -> str:
  print("Annotations:", f.__annotations__)
  print("Arguments:", ham, eggs)
  return ham + ' and ' + eggs

f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

# 막간극: 코딩 스타일

In [ ]:
# 들려 쓰기에 4-스페이스를 사용하고, 탭을 사용하지 마세요.

# 4개의 스페이스는 작은 들여쓰기 (더 많은 중첩 도를 허락합니다) 와 큰 들여쓰기 (읽기 쉽습니다) 사이의 좋은 절충입니다. 탭은 혼란을 일으키고, 없애는 것이 최선입니다.

# 79자를 넘지 않도록 줄 넘김 하세요.

# 이것은 작은 화면을 가진 사용자를 돕고 큰 화면에서는 여러 코드 파일들을 나란히 볼 수 있게 합니다.

# 함수, 클래스, 함수 내의 큰 코드 블록 사이에 빈 줄을 넣어 분리하세요.

# 가능하다면, 주석은 별도의 줄로 넣으세요.

# 독스트링을 사용하세요.

# 연산자들 주변과 콤마 뒤에 스페이스를 넣고, 괄호 바로 안쪽에는 스페이스를 넣지 마세요: a = f(1, 2) + g(3, 4).

# 클래스와 함수들에 일관성 있는 이름을 붙이세요; 관례는 클래스의 경우 UpperCamelCase, 함수와 메서드의 경우 lowercase_with_underscores입니다. 첫 번째 메서드 인자의 이름으로는 항상 self를 사용하세요 (클래스와 메서드에 대한 자세한 내용은 클래스와의 첫 만남 을 보세요).

# 여러분의 코드를 국제적인 환경에서 사용하려고 한다면 특별한 인코딩을 사용하지 마세요. 어떤 경우에도 파이썬의 기본, UTF-8, 또는 단순 ASCII조차, 이 최선입니다.

# 마찬가지로, 다른 언어를 사용하는 사람이 코드를 읽거나 유지할 약간의 가능성만 있더라도, 식별자에 ASCII 이외의 문자를 사용하지 마세요.